<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Coronavirus Tracker app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">

<h1>Coronavirus Tracker Application</h1>
<p>This application lists the current number of cases reported across the globe</p> </br>
<h4><p th:text="${#temporals.formatISO(localDateTime)}"></p></h4>
<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total cases reported as of today</p>
    <hr class="my-4">
    <p>
        <span>New cases reported since previous day</span>
        <span th:text="${totalNewCases}"></span>
    </p>
</div>

    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="locationStat: ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}"></td>
            <td th:text="${locationStat.diffFromPreviousDay}"></td>

        </tr>
    </table>
</div>

</body>
</html>